@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@back_color: rgba(61, 162, 249, 0.11);

.content {

    section.jumbotron {
        margin-bottom: 20px;
        padding: 1px 30px;
        background: @back_color;
        text-align: center;

        color: #415660;

        h1 {
            font-size: 3em;
        }
    }

    padding: 20px 50px;
    max-width: 1280px;
    margin: 0 auto;

    .left {
        width: 300px;
        padding: 20px;
        background: @back_color;
        float: left;

        md-input-container {
            width: 100%;

            .md-errors-spacer {
                display: none;
            }
        }

        .date-select {
            line-height: 5px;
            min-height: 16px;
            font-size: 9px;
            min-width: 60px;
            width: 40px;
            margin: 10px 5px 0 0;
            background: rgb(249, 249, 249);
        }
    }

    .right {
        width: calc(~'100% - 320px');
        padding: 20px;
        background: @back_color;
        float: right;
        overflow: hidden;

        .event {
            border: 1px dotted #e2e2e2;
            margin-bottom: 20px;
            word-wrap: break-word;
            overflow: hidden;

            .header {
                color: #fff;
                text-align: left;
                padding: 5px 10px;
                font-size: 14px;
            }
            .header-football {
                background: #78bb5a;
            }
            .header-basketball {
                background: #ff8205;
            }
            .header-voleyball {
                background: #3480dd;
            }

            .event-content {
                padding: 10px;
                font-size: 14px;
                overflow: hidden;

                .material-icons {
                    font-size: 22px;
                    color: rgba(158, 163, 169, 1);
                }

                .details {
                    width: 100%;
                    //width:50%;
                    float: left;

                    table {
                        width: 100%;
                        td {
                            width: 50%;
                            md-icon {
                                margin-right: 3px;
                            }
                        }
                    }
                }

                .author {
                    width: 50%;
                    float: left;
                }
            }

        }
        .event:last-child {
            margin-bottom: 0;
        }

    }

    .material-icons {
        font-size: 24px;
    }
}

/*
Buttons
*/

.btn-event-details {
    font-size: 12px;
    min-height: inherit;
    line-height: normal;
    padding: 1px;
    margin: 0;
    float: right;
    //text-transform: capitalize;
}
