<div class="content">

    <section class="jumbotron">
        <h1>ActivitySync</h1>
    </section>

    <div class="left">

        <md-input-container>
            <label>Discipline</label>
            <md-select ng-model="main.sportEvent.disciplineID" aria-label="Select">
                <md-option ng-repeat="d in main.disciplines" value="{{d.uniqueID}}" selected>{{d.name}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime1" class="datetime"
                   placeholder="Since" ng-model="main.sportEvent.since" class=" md-input">
            <md-button class="date-select md-raised md-default" ng-click="main.setNow();">
                Now
            </md-button>
            <md-button class="date-select md-raised md-default" ng-click="main.setDayAgo();">
                Day ago
            </md-button>
            <md-button class="date-select md-raised md-default" ng-click="main.setWeekAgo();">
                Week ago
            </md-button>
        </md-input-container>

        <md-input-container>
            <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime2" class="datetime"
                   placeholder="To" ng-model="main.sportEvent.to" class=" md-input">
            <md-button class="date-select md-raised md-default" ng-click="main.setDay();">
                Day
            </md-button>
            <md-button class="date-select md-raised md-default" ng-click="main.setWeek();">
                Week
            </md-button>
            <md-button class="date-select md-raised md-default" ng-click="main.setMonth();">
                Month
            </md-button>
        </md-input-container>

        <md-input-container>
            <label>Level</label>
            <md-select ng-model="main.sportEvent.level" aria-label="Select">
                <md-option value="easy" selected>easy</md-option>
                <md-option value="medium">medium</md-option>
                <md-option value="hard">hard</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Number of players</label>
            <input ng-model="main.sportEvent.numberOfPlayers">
        </md-input-container>

        <md-input-container>
            <label>Free places</label>
            <input ng-model="main.sportEvent.freePlaces">
        </md-input-container>

        <md-input-container>
            <label>Address</label>
            <input ng-model="main.sportEvent.address">
        </md-input-container>

        <md-button class="md-raised" ng-click="main.getEvents();">
            Find events
        </md-button>

    </div>

    <div class="right">

    </div>

</div>

